{% extends "server/base.html" %} {%block title%}Welcome!{%endblock%}
<p></p>
{%block content%}
<div class="container">
  <div id="featured_item" class="row mt-5 mb-2">
    <div class="col">
      {% load static %}
      <img
        src='{% static "media/landingpageimgsmall.jpg" %}'
        class="img-fluid"
        alt="item"
      />
    </div>

    <div class="col pt-3 align-items-center">
      <div class="center">
        <ul class="justify-content-center font-weight-light list-font">
          <li class="align-middle">First</li>
          <li class="align-middle">Second</li>
          <li class="align-middle">Third</li>
        </ul>
      </div>
    </div>
  </div>

  <form action="{% url 'server:landing_page' %}" method="post">
    {%csrf_token%}
    <div class="text-center form-group">
      <p class="display-4 font-weight-light">
        Enter your email address to get your free item
      </p>
      <input
        class="form-control form-control-lg my-3"
        type="email"
        name="email"
        placeholder="xyz@gmail.com"
      />
      {% if message %}
      <p>{{message}}</p>
      {% endif %}

      <button class="btn btn-dark btn-lg my-3" type="submit">
        Get my free item!
      </button>
    </div>
  </form>
</div>
{% endblock %}
