<div class="form-container container d-none" id="userForm">
  <div class="mx-auto">
    <h2 class="stepper-header">ADDRESS</h2>
    <div class="mx-5">
      {% csrf_token %}
      <form class="">
        {% comment %} ADDERSS LINE 1 {% endcomment %}
        <div class="form-group my-4 row">
          <div class="col-md-6">
            <label for="address-line-1">Address line 1</label>
            <input
              class="form-control"
              type="address"
              id="address-line-1"
              placeholder=""
              required
            />
          </div>
        </div>

        {% comment %} ADDRESS LINE 2 {% endcomment %}
        <div class="form-group my-4 row">
          <div class="col-md-6">
            <label for="address-line-1">Address line 2</label>
            <input
              class="form-control form-control-lg"
              type="address"
              id="address-line-2"
              placeholder=""
            />
          </div>
        </div>

        {% comment %} APT no. {% endcomment %}
        <div class="form-group my-4 row">
          <div class="col-md-6">
            <label for="address-line-1">Apartment Number</label>
            <input
              class="form-control form-control-lg"
              type="text"
              id="apt_no"
              placeholder=""
            />
          </div>
        </div>

        {% comment %} City {% endcomment %}
        <div class="form-group my-4 row">
          <div class="col-md-6">
            <label for="address-line-1">City</label>
            <input
              class="form-control form-control-lg"
              type="text"
              id="city"
              placeholder=""
            />
          </div>
        </div>

        {% comment %} State {% endcomment %}
        <div class="form-group my-4 row">
          <div class="col-md-6">
            <label for="address-line-1">State</label>
            <input
              class="form-control form-control-lg input-btn-font-size-lg"
              type="text"
              id="state"
              value="Lagos"
              placeholder=""
              list="datalistOptions"
            />
            <datalist id="datalistOptions">
              <option value="San Francisco"></option>
              <option value="New York"></option>
              <option value="Seattle"></option>
              <option value="Los Angeles"></option>
              <option value="Chicago"></option>
            </datalist>
          </div>
        </div>

        {% comment %} Country {% endcomment %}
        <div class="form-group my-4 row">
          <div class="col-md-6">
            <label for="address-line-1">Country</label>
            <input
              class="form-control form-control-lg"
              type="text"
              id="country"
              value="Nigeria"
              placeholder=""
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
